.button-container{
    display: flex;
}

.button-container-child{
    flex: 1;
    text-align: center;
}

th{
    text-align: center;
    background-color:  rgb(25, 135, 84);
    color: white;
}

td{
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#users-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.action-img{
    width: 35px;
    height: 35px;
}

