<div class="container">
    <img id="users-img" src="../../assets/users.png"/>
    <label for="users-table"><b>{{ newUsers.length }}</b></label>
    <table class="table table-bordered" id="users-table">
        <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Approve/Reject</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let user of newUsers; let i = index'>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
            <div class="button-container">
            <div class="button-container-child">
                <button (click)='approve(user.email || "")' type="button"  class="btn"><img class="action-img" id="approve-img" src="../../assets/approve.png" alt=""></button>
            </div>
            <div class="button-container-child">
                <button (click)='reject(user.email || "")' type="button"  class="btn"><img class="action-img" id="reject-img" src="../../assets/reject.png" alt=""></button>
            </div>
            </div>
        </td>
        </tr>
        </tbody>
    </table>
</div>
