a{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}

a:active{
    color: black;
}

a:hover{
    color: black;
}


nav{
    background-color: rgb(25, 135, 84);
}

#home{
    width: 40px;
    height: 40px;
}

img{
    width: 25px;
    height: 25px;
}

#search-input{
    display: inline-block;
    height: 30px;
    margin-top: 7.5px;
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro;
    margin-right: 2px;
    margin-left: 18px;
}

#search-btn{
    display: inline-block;
    height: 30px;
    margin-top: 7px;
    background-color: rgb(250, 152, 73);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(250, 152, 73);
    margin-right: 18px;
}

#group2{
    display: flex;
}