<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/"><img id="home" src="../../assets/home-page.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login" >Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/admin-board">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/map" matTooltip="Map"><img src="../../assets/map.png" alt="map"></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <div class="btn-group" ngbDropdown role="group">
          <button class="btn" ngbDropdownToggle matTooltip="Documents"><img src="../../assets/documents.png" alt="documents"></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/work-requests">Work order</button>
            <button ngbDropdownItem routerLink="/work-plan">Work plan</button>
            <button ngbDropdownItem routerLink="/security-document">Security documents</button>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"  *ngIf="isLoggedIn()">
        <input id="search-input" type="search" placeholder="Search" aria-label="Search">
        <button type="button" id="search-btn">Search</button>
      </li>
      <li class="nav-item"  *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/notifications" matTooltip="Notifications"><img src="../../assets/notifications.png" alt="notifications"></a>
      </li>
      <li class="nav-item"  *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/settings" matTooltip="Settings"><img src="../../assets/settings.png" alt="settings"></a>
      </li>
      <li class="nav-item"  *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/logout"><img src="../../assets/logout.png" alt="log out"></a>
      </li>
    </ul>
  </div>
</nav>
