.container{
    margin-top: 55px;
    margin-bottom: 15px;
    min-width: 250px;
    max-width: 550px;
    background-color: #eeeded ;
    border-radius: 5px;
}
input[type=button]{
    margin-top: 30px;
    margin-bottom: 15px;
}

#title{
    margin-bottom: 20px;
}