<div class="container">
    <h4 id="title">Login</h4>
    <div class="row">
        <div class="col-sm-12">
            <label for="username">Username</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <input [(ngModel)]="username" class="form-control" id="username" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <input [(ngModel)]="password" class="form-control" id="password" type="password">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <input (click)="login()" class="btn btn-success form-control" id="login" type="button" value="Login">
        </div>
    </div>
</div>
  
