.container{
    margin-top: 15px;
}

.filter-div
{
    text-align: right;
}

button{
    color: white;
    background-color: rgb(25, 135, 84);
}

#all-btn{
    width: 80px;
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style: solid;
    border-color: rgb(25, 135, 84);
    border-right-color: white;
}

#mine-btn{
    width: 80px;
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: solid;
    border-color: rgb(25, 135, 84);
}

#new-request-btn{
    width: 100px;
    margin-right: 70px;
}