<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn" id="new-request-btn" routerLink="/new-work-request">New</button>
            <button type="button" class="btn" id="all-btn" (click)="showAll()">All</button>
            <button type="button" class="btn" id="mine-btn" (click)="showMine()">Mine</button>
        </div>
        <div class="col-sm-6 filter-div">
            <div class="row">
                <div class="col-sm-6 search-input-div">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-table [dataSource]="this.requests" matSort (matSortChange)="sortData($event)">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.startDate}} </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                </ng-container>
            
                <!-- Color Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
                    </ng-container>
            
                <mat-header-row *matHeaderRowDef="['id','startDate','phone','status','address']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['id','startDate','phone','status','address'];">
                </mat-row>
            </mat-table>
            <mat-paginator
            [pageSizeOptions]="[5,10]" 
            >
            </mat-paginator>
        </div>
    </div>
</div>