.container{
    width:50% ;
}

img{
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

button{
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.row{
    text-align: center;
}

#google{
    background-color: #db4a39;
    color: white;
}

#twitter{
    background-color: #1DA1F2;
    color: white;
}

#facebook{
    background-color: #4267B2;
    color: white;
}