<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn" id="google"><img src="../../assets/google+.png" alt=""><b>Continue with Google</b></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn" id="twitter"><img src="../../assets/twitter.png" alt=""><b>Continue with Twitter</b></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn" id="facebook"><img src="../../assets/facebook.png" alt=""><b>Continue with Facebook</b></button>
        </div>
    </div>
</div>
