<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <button id="basic">Basic information</button>
        <button>History of state changes</button>
        <button>Multimedia attachments</button>
        <button>Equipment</button>
    </mat-sidenav>
    <mat-sidenav-content>

    </mat-sidenav-content>
</mat-sidenav-container>

