mat-sidenav-container{
    width: 100%;
    height: 100%;
}

button{
    display: block;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
    width: 100%;
    height: 40px;
    background-color: rgb(25, 135, 84);
    color: white;
}

#basic{
    border-top: 2px solid white;
}

mat-sidenav{
    width: 15%;
}