/* You can add global styles to this file, and also import other style files */
html{
  background-color: #eeeded ;
  width: 100%;
  height: 100%;
}
body{
  background-color: #eeeded ;
  width: 100%;
  height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
