<h2 id="title"><b>Welcome!</b></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-login></app-login>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <app-social-networks-login></app-social-networks-login>
        </div>
    </div>
</div>
