<div class="container">
    <h4 id="title">Register</h4>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="username">Username</label>
            <input [(ngModel)]="user.username" class="form-control" id="username" type="text">
        </div>
        <div class="col-sm-6 form-group">
            <label for="first_name">First name</label>
            <input [(ngModel)]="user.firstName" class="form-control" id="first_name" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="user.email" class="form-control" id="email" type="email">
        </div>
        <div class="col-sm-6 form-group">
            <label for="last_name">Last name</label>
            <input [(ngModel)]="user.lastName" class="form-control" id="last_name" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="user.password" class="form-control" id="password" type="password">
        </div>
        <div class="col-sm-6 form-group">
            <label for="date">Date of birth</label>
            <input [(ngModel)]="user.dateOfBirth" class="form-control" id="date" type="date">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="confirm_password">Confirm password</label>
            <input [(ngModel)]="confirmedPassword" class="form-control" id="confirm_password" type="password">
        </div>
        <div class="col-sm-6 form-group">
            <label for="address">Address</label>
            <input [(ngModel)]="user.address" class="form-control" id="address" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="role">Role</label>
            <select [(ngModel)]="user.role" name="role" id="role" class="form-control">
                <option [value]="'TEAM_MEMBER'" selected>Team member</option>
                <option [value]="'DISPATCHER'">Dispatcher</option>
                <option [value]="'WORKER'">Worker</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <input (click)="register()" class="btn btn-success form-control" id="register" type="button" value="Register">
        </div>
    </div>
</div>