.container{
    margin-top: 75px;
    margin-bottom: 15px;
    width: 50%;
    background-color: #eeeded ;
    border-radius: 5px;
}
input[type=button]{
    margin-top: 35px;
    margin-bottom: 15px;
}

#title{
    margin-bottom: 25px;
}